* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    height: 100dvh;
    background-color: aqua;
}

.features {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    height: fit-content;
    
    & .feature {
        height: 100dvh;
        display: flex;
        flex-direction: column;
        padding: 3rem;

        &.agents {
            background-color: blueviolet;
        }

        &.maps {
            background-color: red;
        }

        &.guns {
            background-color: aquamarine;
        }

        &.left {
            align-items: flex-start;
        }

        &.right {
            align-items: flex-end;
        }
    }
}