.footer {
  display: flex;
  background-color: black;
  width: 100%;
  padding: 0.5rem 5rem;
  justify-content: space-between;
  align-items: center;

  & .logo {
    height: 40px;
  }

  & p {
    color: white;
  }

  & .icon-group {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;

    & a {
      color: white;
    }
  }
}
